@import url(https://fonts.googleapis.com/css?family=Roboto:100,300italic,300,400,500,500italic,400italic,700,700italic&subset=latin,cyrillic);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
  outline: none;
}

::-webkit-input-placeholder {
  color:#000;
}
::-moz-placeholder {
  color:#000;
}

:-moz-placeholder {
  color:#000;
}

:-ms-input-placeholder {
  color:#000;
}


/* =============================================================================
   Template Styles
========================================================================== */

body {
  height: 100%;
  padding:0;
  margin: 0 auto;
  min-height:100%;
  word-wrap: break-word;


  -webkit-text-size-adjust: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     

  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  overflow: hidden;
  -ms-content-zooming: none;
  -ms-touch-action:none;

  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;

    -o-user-select: none;
    user-select: none;  
}

html {
  height: 100%;
  padding:0;
  font-family: 'San Francisco', 'Roboto', 'HelveticaNeue-Light', 'HelveticaNeue', 'Helvetica', 'Arial' sans-serif;
  font-size: 30px;
  line-height: 1em;
  color: #292f33;
  font-weight: 400;
  background: #fff;
}

a {
  -webkit-touch-callout:none;
  -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
  -webkit-text-size-adjust: none;

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  outline: none;
}


.svg {
  width: 100%; height: 100%;
}

/* ==================
  HEADER
================== */
header {
  display: block;
  position: fixed;
  top: 0; left: 0; 
  right: 0; 
  margin: 0;
  padding: 1px 0 0 0;
  height: 119px;
  background: #fff;
  z-index: 99;
}
header .logo {
  display: block;
  position: relative;
  margin: 29px auto 0 auto;
  width: 252px; height: 59px;
  background: url(../img/logo.svg) no-repeat;
  background-size: cover;
}

header .nav-button-wrap {
  display: block;
  position: absolute;
  left: 0; top: 0; 
  bottom: 0;
  width: 3.3em;
  cursor: pointer;
}
header .nav-button {
  display: block;
  position: absolute;
  width: 38px; height: 31px;
  top: 50%; left: 30px;
  margin: -15px 0 0 0;
  background: url(../img/ico-nav.svg) no-repeat;
  background-size: cover;
}
header .close .nav-button {
  width: 31px;
  background-image: url(../img/ico-close.svg);
}
.main-nav {
  display: block;
  position: fixed;
  top: 120px; left: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 999;
  width: 80%;  
  will-change: transform;
  -moz-transform:    translateX(-100%);
  -ms-transform:     translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform:      translateX(-100%);
  transform:         translateX(-100%);
  -moz-transition:    all .3s ease-out;
  -ms-transition:     all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -o-transition:      all .3s ease-out;
  transition:         all .3s ease-out;
}
.main-nav.open {
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -webkit-transform: translateX(0);
  -o-transform:      translateX(0);
  transform:         translateX(0);
}
.main-nav.swipe {
  -moz-transition:    all 0s ease-out;
  -ms-transition:     all 0s ease-out;
  -webkit-transition: all 0s ease-out;
  -o-transition:      all 0s ease-out;
  transition:         all 0s ease-out;
}
.main-nav .nav-swipe {
  position: absolute;
  left: 100%; top: 0;
  bottom: 0;
  background: transparent;
  width: 1em;
}
.main-nav.open .nav-swipe {
  width: 100%
}
.main-nav .nav {
  display: block;
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 80px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.main-nav .nav .link {
  display: block;
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 33px 10px 30px 100px;
  font-size: 1em;
  text-transform: uppercase;
  color: #292f33;
  cursor: pointer;
}
.main-nav .nav .link:first-child {
  margin-top: 0;
  border-top: 1px solid #c4c4c4;
}
.main-nav .nav .link.active {
  background: #1d2330;
  border-color: #1d2330;
  color: #fff;
}

.main-nav .social {
  display: block;
  position: absolute;
  left: 0; right: 0;
  bottom: 0;
  height: 80px;
  background: #a0adb8;
  font-size: 0;
  text-align: center;
}
.main-nav .social a {
  display: inline-block;
  position: relative;
  height: 80px;
  margin: 0 25px;
}
.main-nav .social a .ico {
  display: block;
  position: absolute;
  left: 0; top: 50%;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-size: cover;
}
.main-nav .social a.tw {
  width: 37px;
}
.main-nav .social a.tw .ico {
  height: 31px;
  margin-top: -15px;
  background-image: url(../img/ico-social-tw.svg);
}
.main-nav .social a.ok {
  width: 23px;
}
.main-nav .social a.ok .ico {
  height: 37px;
  margin-top: -18px;
  background-image: url(../img/ico-social-ok.svg);
}
.main-nav .social a.vk {
  width: 47px;
}
.main-nav .social a.vk .ico {
  height: 28px;
  margin-top: -14px;
  background-image: url(../img/ico-social-vk.svg);
}

.main-nav .social a.fb {
  width: 21px;
}
.main-nav .social a.fb .ico {
  height: 37px;
  margin-top: -18px;
  background-image: url(../img/ico-social-fb.svg);
}

.main-nav .pxl {
  display: none;
  position: absolute;
  width: 100%;
  left: 0; top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); 
}
.main-nav.open .pxl {
  /*
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease; 
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  background: rgba(0, 0, 0, 0.8);
  left: 100%;*/
}

.main-nav-pxl {
  display: none;
  position: absolute;
  width: 100%;
  left: 0; top: 120px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 998;
}
.main-nav-pxl.show {
  display: block;
}

/*иконки разделов*/
.ico-page {
  display: block;
  position: absolute;
  left: 0; top: 50%;
  margin: -14px 0 0 0;
  height: 28px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ico-page.news {
  width: 30px; height: 30px;
  margin-top: -15px;
  margin-left: 35px;
  background-image: url(../img/ico-news-black.svg);
}
.ico-page.news.white, 
.active > .ico-page.news {
  background-image: url(../img/ico-news-white.svg)
}
.ico-page.news.gray {
  background-image: url(../img/ico-news-gray.svg)
}

.ico-page.tv {
  width: 32px; 
  margin-left: 34px;
  background-image: url(../img/ico-tv-black.svg);
}
.ico-page.tv.white, 
.active > .ico-page.tv {
  background-image: url(../img/ico-tv-white.svg)
}
.ico-page.tv.gray {
  background-image: url(../img/ico-tv-gray.svg)
}

.ico-page.radio {
  width: 19px;
  margin-left: 40px;
  background-image: url(../img/ico-radio-black.svg);
}
.ico-page.radio.white, 
.active > .ico-page.radio {
  background-image: url(../img/ico-radio-white.svg)
}
.ico-page.radio.gray {
  background-image: url(../img/ico-radio-gray.svg)
}

.ico-page.spec {
  width: 28px; 
  margin-left: 36px;
  background-image: url(../img/ico-spec-black.svg);
}
.ico-page.spec.white, 
.active > .ico-page.spec {
  background-image: url(../img/ico-spec-white.svg)
}
.ico-page.spec.gray {
  background-image: url(../img/ico-spec-gray.svg)
}

.ico-page.feedback {
  width: 28px; height: 26px;
  margin-top: -12px;
  margin-left: 36px;
  background-image: url(../img/ico-feedback-black.svg);
}
.ico-page.feedback.white, 
.active > .ico-page.feedback {
  background-image: url(../img/ico-feedback-white.svg)
}
.ico-page.feedback.gray {
  background-image: url(../img/ico-feedback-gray.svg)
}


/* ==================
    КОНТЕНТ РАЗДЕЛОВ
  ================== */
.pages {
  display: block;
  position: fixed;
  top: 120px; bottom: 0;
  left: 0; right: 0;
  z-index: 90;
}
.pages .page {
  display: none;
  margin: 0;
  padding: 0;
}
.pages .page.active {
  display: block;
}
.pages .top {
  display: block;
  position: absolute;
  left: 0; right: 0;
  top: 0; 
  margin: 0;
  height: 60px;
  background: #1d2330;
}
.pages .top .h1 {
  display: block;
  position: absolute;
  left: 0; top: 0;
  bottom: 0; right: 0;
  margin: 0;
  padding: 0 0 0 3.3em;
  font-size: 1em;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}
.pages .full .top .h1 .ico-page,
.pages .form .top .h1 .ico-page {
  display: none;
}

.pages .top .back {
  display: none;
  position: absolute;
  left: 0; top: 0;
  bottom: 0;
  width: 3.3em;
}
.pages .top .back .ico {
  display: block;
  position: absolute;
  left: 50%; top: 50%;
  margin: -12px 0 0 -8px;
  width: 17px; height: 25px;
  background: url(../img/arrow-back.png) no-repeat;
  background-size: cover;
}
.pages .full .top .back,
.pages .form .top .back {
  display: block;
}

.pages .top .refresh {
  display: block;
  position: absolute;
  right: 0; top: 0;
  bottom: 0;
  width: 50px;
}
.pages .top .refresh:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%; top: 50%;
  margin: -10px 0 0 -10px;
  width: 20px; height: 20px;
  background: url(../img/ico-refresh.svg) center center no-repeat;
  background-size: cover;
}
.pages .full .top .refresh {
  display: none;
}
/*ТИПОГРАФИКА*/
.pages p {
  margin: 1em 0;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #292f33;
}
.pages p.title {
  font-weight: 700;
  color: #292f33;
  font-size: 1.5em;
  line-height: 1.2em;
}
.pages p.date {
  font-size: 1em;
  line-height: 1.6em;
  color: #559cf0;
}

.pages p.table-caption {
  margin-bottom: 0;
  font-style: italic;
}

.pages p a,
.pages li a {
  color: #292f33;
  text-decoration: underline;
  outline: none;
} 

.pages .caps {
  text-transform: uppercase;
}

.pages ul,
.pages ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #292f33;
} 
.pages ul li {
  display: block;
  position: relative;
  margin: 1em 0;
  padding: 0 0 0 2em;
  background-position: 0 .3em;
  background-repeat: no-repeat;
  background-size: .8em .8em;
  background-image: url(../img/ico-ul-mark.svg);
}
.pages ol li {
  display: block;
  position: relative;
  margin: 1em 0;
  padding: 0 0 0 2em;
}
.pages ol li > .num {
  display: block;
  position: absolute;
  left: 0; top: 0;
  font-weight: 700;
}
.pages .img {
  margin: 1em 0;
  text-align: center;
}
.pages img,
.pages .img img {
  max-width: 100%;
  max-height: 100%;
}

.pages .table-wrapper {
  margin: 1em 0;
  padding: 0;
  overflow: auto;
}
.pages .table-wrapper table {
  margin: 0;
  width: 100%;
  text-align: left;
  border: 1px solid #bababa;
}
.pages .table-wrapper table th {
  background: #393f48;
  color: #fff;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  padding: .8em;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.pages .table-wrapper table th:first-child {
  border-left: none;
}
.pages .table-wrapper table td {
  color: #212b30;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  padding: .8em;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.pages .table-wrapper table td:first-child {
  border-left: none;
}
.pages .table-wrapper table .light {
  background: #f3f3f3;
}
/*НОВОСТИ*/
.news-list {
  display: block;
  position: absolute;
  z-index: 10;
  top: 60px; bottom: 0;
  left: 0; right: 0;
  margin: 0;
  padding: 1px 0;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -webkit-transform: translateX(0);
  -o-transform:      translateX(0);
  transform:         translateX(0);
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;

}
 .full .news-list  {
  -moz-transform:    translateX(-10%);
  -ms-transform:     translateX(-10%);
  -webkit-transform: translateX(-10%);
  -o-transform:      translateX(-10%);
  transform:         translateX(-10%);
}
.news-list-content {
  margin: 0;
  position: relative;
}
/*.csstransforms .full .news-list  {
  transform: translateX(-10%);
  left: 0;
}*/
.news-list .news {
  display: block;
  margin: 0;
  padding: .9em .8em .8em .8em;
  
  border-bottom: 1px solid #a0adb8;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.news-list .news:first-child {
  /*border-top: none;
  border-bottom: 1px solid #a0adb8;*/
}
.news-list .news:active {
  opacity: 0.8;
}
.news-list .news .photo {
  position: relative;
  margin: 0 0 .85em 0;
  height: 10em;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid #a0adb8;
  border-radius: 10px;
}
.news-list .news .photo .status {
  display: block;
  position: absolute;
  left: 0; top: 0;
  margin: 0;
  padding: 0 10px;
  height: 1.5em;
  border-radius: 10px 0 10px 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.news-list .news.favorite .photo .status {
  background: #000;
}
.news-list .news.main .photo .status {
  background: #ff161f;
}
.news-list .news .info {
  position: relative;
  margin: 0;
  padding: 0 0 0 5em;
}
.news-list .news .info .name {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
  color: #292f33;
}
.news-list .news .info .date {
  display: block;
  position: absolute;
  margin: 0;
  left: .33em; top: 0;
  font-size: 1em;
  line-height: 1.2em;
  color: #559cf0;
}
.news-list .news.main .info .date {
  color: #ff161f;
}

.news-list .spec-project {
  display: block;
  position: relative;
  margin: 1.6em .8em 2.5em .8em;
  padding: 1.8em 0 0 0;
  cursor: pointer;
}
.news-list .spec-project:active {
  opacity: 0.8;
}
.news-list .spec-project p.title {
  display: block;
  position: absolute;
  right: 0; top: 0;
  margin: 0;
  padding: 0 0 0 1.2em;
  text-align: right;
  color: #6f7982;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
}
.news-list .spec-project p.title .ico {
  display: block;
  position: absolute;
  width: .8em; height: .8em;
  left: 0; top: 50%;
  margin: -.4em 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/ico-spec-gray.svg);
}

.news-list .spec-project .photo {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  text-align: center;
}
.news-list .spec-project .photo img {
  height: 7em;
  /*max-width: 100%;
  max-height: 100%;*/
}
/*НОВОСТИ ВНУТРЕННЯЯ*/
.news-inner {
  display: block;
  position: absolute;
  z-index: 90;
  top: 60px; bottom: 0;
  left: 0; 
  margin: 0;
  padding: 1px 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: 100%;
  background: #fff;
  -moz-transform:    translateX(100%);
  -ms-transform:     translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform:      translateX(100%);
  transform:         translateX(100%);
  -moz-transition:    all .4s ease-out;
  -ms-transition:     all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -o-transition:      all .4s ease-out;
  transition:         all .4s ease-out;
}
.full .news-inner {
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -webkit-transform: translateX(0);
  -o-transform:      translateX(0);
  transform:         translateX(0);
}

.news-inner .photo {
  position: relative;
  margin: -1px 0 0 0;
  padding: 0;
  height: 420px;
  overflow: hidden;
  background-size: cover;
  background-repeat: center center;
}
.news-inner .photo .video-play {
  display: block;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-size: 3.4em 4em;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/ico-play.svg);
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.news-inner .photo .video-play:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.news-inner .info {
  position: relative;
  margin: 0;
  padding: .8em 0 .7em 0;
  border-bottom: 1px solid #9aa8b4;
}
.news-inner .info .date {
  display: inline-block;
  margin: 0 0 0 1.2em;
  font-size: 1em;
  line-height: 1.2em;
  color: #559cf0;
}
.news-inner .info .view {
  display: inline-block;
  position: relative;
  margin: 0 0 0 3em;
  padding: 0 0 0 2em;
  font-size: 1em;
  line-height: 1.2em;
  color: #6f6f6f;
}
.news-inner .info .view .ico {
  display: block;
  position: absolute;
  top: 50%; left: 0;
  margin: -13px 0 0 0;
  width: 40px; height: 27px;
  background: url(../img/ico-eye.png) 0 0 no-repeat;
  background-size: cover;

}

.news-inner .text-news {
  margin: 0 1.2em;
  padding: 1px 0;
}


/*ТВ*/
.tv-channels {
  display: block;
  position: absolute;
  top: 60px; bottom: 0;
  left: 0; right: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.tv-channels .channel {
  position: relative;
  display: block;
  width: 100%; 
  min-height: 200px;
  outline: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: opacity .4s ease-out;
}
.tv-channels .channel:active {
  opacity: 0.8;
}

.tv-channels .channel.active {
  cursor: default;
}
.tv-channels .channel .logo {
  display: block;
  position: absolute;
  top: 50%; left: 1em;
  margin: -55px 0 0 0;
  width: 337px; height: 110px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .4s ease-out;
}
.tv-channels .channel.c1 .logo {
  background-image: url(../img/ico-tv1.svg);
}
.tv-channels .channel.c2 .logo {
  background-image: url(../img/ico-tv2.svg);
}
.tv-channels .channel.c3 .logo {
  background-image: url(../img/ico-tv3.svg);
}

.tv-channels .channel .button {
  display: block;
  position: absolute;
  top: 50%; right: 1em;
  margin: -67px 0 0 0;
  width: 135px; height: 135px;
  background: #50a0ce;
  border-radius: 50%;
}
.tv-channels .channel .button > i {
  display: block;
  position: absolute;
  left: 50%; top: 50%;
  margin: -31px 0 0 -25px;
  width: 55px; height: 63px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/ico-play.svg);
}

.tv-channels .channel .border {
  display: block;
  position: absolute;
  left: 0; right: 0;
  top: 0;
  height: 1px;
  background: #9cafba;
}

.tv-content {
  display: block;
  position: absolute;
  top: 190px; bottom: 0;
  left: 0; right: 0;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.tv-content .tab {
  display: none;
  margin: 0;
  padding: 1px 0;
}
.tv-content .tab.active {
  display: block;
}
.tv-content p {
  margin: 1em 1.2em;
  font-size: 1em;
  line-height: 1.5em;
  color: #000;
}


/*РАДИО*/
.radio-list {
  display: block;
  position: absolute;
  top: 60px; bottom: 0;
  left: 0; right: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.radio-list .radio {
  position: relative;
  display: block;
  width: 100%; 
  min-height: 200px;
  outline: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: opacity .4s ease-out;
}
.radio-list .radio:active {
  opacity: 0.8;
}
.radio-list .radio.active {
  cursor: default;
}
.radio-list .radio .logo {
  display: block;
  position: absolute;
  top: 50%; left: 1em;
  margin: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .4s ease-out;
}
.radio-list .radio.r1 .logo {
  margin-top: -38px;
  width: 254px; height: 76px;
  background-image: url(../img/ico-radio1.svg);
}
.radio-list .radio.r2 .logo {
  margin-top: -27px;
  width: 315px; height: 54px;
  background-image: url(../img/ico-radio2.svg);
}
.radio-list .radio.r3 .logo {
  margin-top: -43px;
  width: 280px; height: 86px;
  background-image: url(../img/ico-radio3.svg);
}

.radio-list .radio .button {
  display: block;
  position: absolute;
  top: 50%; right: 1em;
  margin: -67px 0 0 0;
  width: 135px; height: 135px;
  background: #50a0ce;
  border-radius: 50%;
}
.radio-list.load .radio .button {
  display: none;
}
.radio-list.load .radio.play .button {
  display: block;
  background: url(../img/preloader.svg) center center no-repeat;
  background-size: 50%;
}

.radio-list .radio .button > i {
  display: block;
  position: absolute;
  left: 50%; top: 50%;
  margin: -31px 0 0 -25px;
  width: 55px; height: 63px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/ico-play.svg);
}
.radio-list .radio.play .button > i {
  width: 48px; height: 63px;
  margin-left: -24px;
  background-image: url(../img/ico-pause.svg);
}
.radio-list.load .radio .button > i {
  display: none;
}
.radio-list .radio .border {
  display: block;
  position: absolute;
  left: 0; right: 0;
  top: 0;
  height: 1px;
  background: #9cafba;
}


/*ОБРАЩЕНИЯ ГРАЖДАН*/
.feedback-list {
  display: block;
  position: absolute;
  z-index: 10;
  top: 60px; bottom: 150px;
  left: 0; right: 0;
  margin: 0;
  padding: 1px 0;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -webkit-transform: translateX(0);
  -o-transform:      translateX(0);
  transform:         translateX(0);

  -moz-transition:    all .4s ease-out;
  -ms-transition:     all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -o-transition:      all .4s ease-out;
  transition:         all .4s ease-out;
}
.full .feedback-list,
.form .feedback-list {
  -moz-transform:    translateX(-10%);
  -ms-transform:     translateX(-10%);
  -webkit-transform: translateX(-10%);
  -o-transform:      translateX(-10%);
  transform:         translateX(-10%);
}

.feedback-list-content {
  margin:0;
  position: relative;
}
.feedback-list .item {
  display: block;
  position: relative;
  margin: 0;
  padding: .9em 1em .8em 1em;
  
  border-bottom: 1px solid #a0adb8;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.feedback-list .item:active {
  opacity: 0.8;
}
.feedback-list .item .status {
  display: block;
  position: absolute;
  right: 1em; top: 0;
  width: 200px; height: 50px;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.feedback-list .item .status.s1 {
  background: #7fadbc;
}
.feedback-list .item .status.s2 {
  background: #c8514b;
}
.feedback-list .item .status.s3 {
  background: #5767a4;
}
.feedback-list .item .date {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  color: #559cf0;
}
.feedback-list .item .name {
  margin: 1em 0 0 0;
  font-size: 1em;
  line-height: 1.2em;
  color: #000000;
  font-weight: 700;
}
.feedback-list .item .desc {
  display: none;
  margin: 1em 0 0 0;
  font-size: 1em;
  line-height: 1.2em;
  color: #212b30;
}

.feedback-form-button {
  display: block;
  position: absolute;
  height: 149px;
  border-top: 1px solid #9cafba;
  bottom: 0px;
  left: 0; right: 0;
  background: #efeff4;
}
.feedback-form-button .button {
  display: block;
  position: absolute;
  left: 1em; right: 1em;
  top: 50%;
  margin: -50px 0 0 0;
  height: 100px;
  background: #50a0ce;
  color: #fff;
  font-size: 1em;
  line-height: 100px;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition: all .4s ease-out;
}
.feedback-form-button .button:active {
  opacity: 0.8;
}
.full .feedback-form-button .button,
.form .feedback-form-button .button {
  opacity: 0.2;
}
/*Обращение граждан форма заявки*/
.feedback-form {
  display: block;
  position: absolute;
  z-index: 90;
  top: 60px; bottom: 0;
  left: 0; 
  margin: 0;
  padding: 1px 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: 100%;
  background: #efeff4;
  -moz-transform:    translateX(100%);
  -ms-transform:     translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform:      translateX(100%);
  transform:         translateX(100%);
  -moz-transition:    all .4s ease-out;
  -ms-transition:     all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -o-transition:      all .4s ease-out;
  transition:         all .4s ease-out;
}
.form .feedback-form {
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -webkit-transform: translateX(0);
  -o-transform:      translateX(0);
  transform:         translateX(0);
}

.feedback-form .form {
  display: block;
  margin: 0;
  padding: 0;
}

.feedback-form .white-wrapper {
  margin: .9em 0;
  padding: 0 .9em .9em .9em;
  border-top: 1px solid #9cafba;
  border-bottom: 1px solid #9cafba;
  background: #fff;
}
.feedback-form .field {
  margin: 0;
  padding: 0;
  border-top: 1px solid #9cafba;
}
.feedback-form .field.textarea {
  padding-top: .8em;
}
.feedback-form .field:first-child {
  border-top: 1px solid transparent;
}
.feedback-form .field input.text {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%; height: 85px;
  font-size: 1.1em;
  line-height: 85px;
  color: #000000;
  border: none;
  outline: none;
}
.feedback-form .field textarea {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%; height: 50px;
  font-size: 1.1em;
  line-height: 1.2em;
  color: #000000;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.feedback-form .error {
  color: #ff161f !important;
}

.feedback-form .accept {
  position: relative;
  margin: .9em;
  padding: 0 0 0 1em;
}
.feedback-form .accept input {
  display: block;
  position: absolute;
  left: 0; top: .15em;
  margin: 0;
  width: 1em; height: 1em;
}
.feedback-form .accept label {
  font-size: .8em;
}

.feedback-form .button-wrapper {
  margin: .9em;
  padding: 0;
}
.feedback-form .submit {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%; height: 100px;
  background: #50a0ce;
  color: #fff;
  border: none;
  font-size: 1em;
  line-height: 100px;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition: all .4s ease-out;
}
.feedback-form .submit.disable {
  background: #95aab6;
  cursor: default;
  opacity: 1 !important;
}
.feedback-form .submit:active {
  opacity: 0.8;
}

.feedback-form .success {
  display: none;
  position: absolute;
  left: 10px; right: 10px;
  top: 50%;
  margin: -40px 0 0 0;
  height: 80px;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
}

/*стилизация селектов*/
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  margin: 0 0 0 0;
  width: 100%;
  
}
.jq-selectbox__select {
  height: 85px;
  padding: 0;
  width: 100%;
  border: none;
  background: transparent;
  overflow: hidden;
  color: #000;
  font-size: 1.1em;
  line-height: 85px;

  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -khtml-border-radius: 5px; 
  border-radius: 5px; 
}

.jq-selectbox__select-text {
  display: block;
  margin: 0 35px 0 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: none;
}
.jq-selectbox__trigger {
  height: 85px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.jq-selectbox__trigger-arrow {
  display: block;
  position: absolute;
  top: 50%; right: 0;
  margin: -11px 0 0 0;
  width: 25px;
  height: 22px;
  background: url(../img/ico-select-arrow.svg) no-repeat 0 0;
  background-size: cover;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  transform: rotate(-180deg);
}
.jq-selectbox.opened .jq-selectbox__select {
  border-color: #8cce4e;
}


.jq-selectbox__dropdown {
  top: 82px;
  width: 100%; 
  margin: 0;
  padding: 0;
  border: 1px solid #9cafba;
  background: #fff;
  font-size: .8em; 
  line-height: 1.2em;

}
.lt-ie8 .jq-selectbox__dropdown {
  min-width: 100%;
}
.jq-selectbox ul {
  margin: .2em .5em .1em 0;
  padding: 0;
  list-style: none;
  max-height: 300px;
}

.jq-selectbox li {
  background: none !important;
  padding: .5em .1em .5em 1em !important;
  margin: 0 !important;
  color: #000;
  font-weight: 300;
}
.jq-selectbox li:first-child {
  display: none !important;
}
.jq-selectbox li.selected {
  color: #50a0ce;
}
.jq-selectbox li.option {
  padding-left: 1em;
}


/*Обращение граждан ВНУТРЕННЯЯ*/
.feedback-inner {
  display: block;
  position: absolute;
  z-index: 90;
  top: 60px; bottom: 0;
  left: 0; 
  margin: 0;
  padding: 1px 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: 100%;
  background: #fff;
  -moz-transform:    translateX(100%);
  -ms-transform:     translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform:      translateX(100%);
  transform:         translateX(100%);
  -moz-transition:    all .4s ease-out;
  -ms-transition:     all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -o-transition:      all .4s ease-out;
  transition:         all .4s ease-out;
}
.full .feedback-inner {
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -webkit-transform: translateX(0);
  -o-transform:      translateX(0);
  transform:         translateX(0);
}

.feedback-inner .text-feedback {
  margin: 0 1em;
}

/*СПЕЦПРОЕКТ*/
.spec-content {
  display: block;
  position: absolute;
  z-index: 10;
  top: 60px; bottom: 0;
  left: 0; right: 0;
  margin: 0;
  padding: 1px 1em;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

/*прелоадер*/
.preloader {
  margin: 0 auto;
  width: 5em; height: 5em;
  background-position: center center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/preloader.svg); 
}
.preloader.error {
  width: 100%; min-height: 5em;
  background-position: center bottom;
  background-image: url(../img/ico-repeat.svg); 
  text-align: center;
  cursor: pointer;
}

.preloader p {
  margin: 0 !important;
  padding-top: .8em;
  font-size: .9em;
  line-height: 1em;
  color: #767676;
}

/*модальное окно фулскрин!*/
.modal-wrap {
  display: none;
  position: fixed;
  left: 0; right: 0; 
  top: 0; bottom: 0;
  padding: 0 .75rem;
  background: rgba(255, 255, 255, .9);
  z-index: 9999;
}
.modal-wrap.show {
  display: block;
}
.modal-wrap .modal {
  display: table;
  width: 100%; height: 100%;
}
.modal-wrap .content {
  display: table-cell;
  width: 100%; height: 100%;
  vertical-align: middle;
  text-align: center;
}

.modal-wrap p {
  margin: .75rem;
  font-size: .75rem;
  line-height: 1.4em;
  color: #767676;
  font-weight: 300;
}
.modal-wrap p.title {
  font-size: 1rem;
}
.modal-wrap p a {
  color: #333;
  outline: none;
  text-decoration: none;
}

.buttons-wrap {
  margin: 40px 0 0 0;
  padding: 0;
}

.buttons-wrap .button {
  display: block;
  position: relative;
  margin: 0;
  height: 50px;
  background: #50a0ce;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
}
.buttons-wrap .button.back {
  background: #c2c2c2;
}
.buttons-wrap .button.w50 {
  width: 48%;
  float: right;
}
.buttons-wrap .button.w50:first-child {
  float: left;
}




@media only screen and (min-width: 450px) and (max-width: 600px) {
  
  html {
    font-size: 22px;
  }
  
  /* ==================
    HEADER
  ================== */
  header {
    height: 88px;
  }
  header .logo {
    margin-top: 23px;
    width: 189px; height: 44px;
  }
  header .nav-button {
    width: 29px; height: 24px;
    margin-top: -12px;
    left: 22px;
  }
  header .close .nav-button {
    width:  24px;
  }

  /* ==================
    MAIN NAV
  ================== */
  .main-nav {
    top: 90px;
  }
  .main-nav .nav {
    bottom: 60px;
  }
  .main-nav .nav .link {
    padding: 23px 10px 20px 75px;
  }

  .main-nav .social {
    height: 60px;
  }
  .main-nav .social a {
    height: 60px;
    margin: 0 17px;
  }

  .main-nav .social a.tw {
    width: 28px;
  }
  .main-nav .social a.tw .ico {
    height: 23px;
    margin-top: -11px;
  }

  .main-nav .social a.ok {
    width: 17px;
  }
  .main-nav .social a.ok .ico {
    height: 27px;
    margin-top: -13px;
  }

  .main-nav .social a.vk {
    width: 35px;
  }
  .main-nav .social a.vk .ico {
    height: 21px;
    margin-top: -10px;
  }

  .main-nav .social a.fb {
    width: 16px;
  }
  .main-nav .social a.fb .ico {
    height: 28px;
    margin-top: -14px;
  }

  .main-nav-pxl {
    top: 90px;
  }

  /*иконки разделов*/
  .ico-page {
    margin-top: -10px;
    height: 21px;
  }
  .ico-page.news {
    width: 22px; height: 22px;
    margin-top: -11px;
    margin-left: 26px;
  }
  .ico-page.tv {
    width: 24px;
    margin-left: 27px;
  }
  .ico-page.radio {
    width: 14px;
    margin-left: 32px;
  }
  .ico-page.spec {
    width: 21px; 
    margin-left: 27px;
  }
  .ico-page.feedback {
    width: 21px; height: 19px;
    margin-top: -9px;
    margin-left: 27px;
  }

  /* ==================
    КОНТЕНТ РАЗДЕЛОВ
  ================== */
  .pages {
    top: 90px;
  }
  .pages .top {
    height: 45px;
  }
  .pages .top .h1 {
    line-height: 45px;
    padding-left: 75px;
  }
  .pages .top .back {
    width: 75px;
  }
  .pages .top .back .ico {
    margin-top: -9px;
    width: 13px; height: 19px;
  }

  /*НОВОСТИ*/
  .news-list {
    top: 45px;
  }
  .news-list .news .photo {
    height: 243px;
  }
  .news-list .news .photo .status {
    height: 34px;
    line-height: 34px;
    font-size: 0.75em;
  }

  .news-list .spec-project p.title .ico {
    width: 20px; height: 20px;
    margin-top: -10px;
  }

  /*НОВОСТИ ВНУТРЕННЯЯ*/
  .news-inner {
    top: 45px;
  }
  .news-inner .photo {
    height: 315px;
  }
  .news-inner .info {
    padding: 19px 0 16px 0;
  }
  .news-inner .info .view .ico {
    margin-top: -10px;
    width: 30px; height: 20px;
  }

  /*ТВ*/
  .tv-channels {
    top: 45px;
  }
  .tv-channels .channel {
    min-height: 150px;
  }
  .tv-channels .channel .logo {
    margin-top: -41px;
    width: 253px; height: 83px;
  }
  .tv-channels .channel .button {
    margin-top: -50px;
    width: 101px; height: 101px;
  }
  .tv-channels .channel .button > i {
    margin: -23px 0 0 -20px;
    width: 41px; height: 47px;
  }

  /*РАДИО*/
  .radio-list {
    top: 45px;
  }
  .radio-list .radio {
    min-height: 150px;
  }
  .radio-list .radio.r1 .logo {
    margin-top: -28px;
    width: 191px; height: 57px;
  }
  .radio-list .radio.r2 .logo {
    margin-top: -20px;
    width: 236px; height: 40px;
  }
  .radio-list .radio.r3 .logo {
    margin-top: -32px;
    width: 210px; height: 65px;
  }
  .radio-list .radio .button {
    margin-top: -50px;
    width: 101px; height: 101px;
  }
  .radio-list .radio .button > i {
    margin: -23px 0 0 -20px;
    width: 41px; height: 47px;
  }
  .radio-list .radio.play .button > i {
    width: 36px; height: 47px;
    margin-left: -18px;
  }


  /*ОБРАЩЕНИЯ ГРАЖДАН*/
  .feedback-list {
    top: 45px; bottom: 110px;
  }
  .feedback-list .item .status {
    width: 150px; height: 40px;
    line-height: 40px;
  }
  .feedback-form-button {
    height: 109px;
  }
  .feedback-form-button .button {
    margin-top: -38px;
    height: 76px;
    line-height: 76px;
  }
  /*Обращение граждан ВНУТРЕННЯЯ*/
  .feedback-inner {
    top: 45px;
  }
  /*Обращение граждан форма заявки*/
  .feedback-form {
    top: 45px;
  }
  .feedback-form .field input.text {
    height: 60px;
    line-height: 60px;
  }
  .feedback-form .field textarea {
    height: 40px;
  }
  .feedback-form .submit {
    height: 76px;
    line-height: 76px;
  }

  /*стилизация селектов*/
  .jq-selectbox__select {
    height: 60px;
    line-height: 60px;
  }
  .jq-selectbox__trigger {
    height: 60px;
  }
  .jq-selectbox__trigger-arrow {
    width: 20px;
    height: 18px;
    margin-top: -9px;
  }

  .jq-selectbox__dropdown {
    top: 60px;
  }

  /*СПЕЦПРОЕКТ*/
  .spec-content {
    top: 45px;
  }


}


@media only screen and (max-width: 450px) {
  
  html {
    font-size: 16px;
  }
  
  /* ==================
    HEADER
  ================== */
  header {
    height: 58px;
  }
  header .logo {
    margin-top: 15px;
    width: 126px; height: 30px;
  }
  header .nav-button {
    width: 19px; height: 16px;
    margin-top: -8px;
    left: 15px;
  }
  header .close .nav-button {
    width:  16px;
  }

  /* ==================
    MAIN NAV
  ================== */
  .main-nav {
    top: 60px;
  }
  .main-nav .nav {
    bottom: 40px;
  }
  .main-nav .nav .link {
    padding: 16px 10px 15px 50px;
  }

  .main-nav .social {
    height: 40px;
  }
  .main-nav .social a {
    height: 40px;
    margin: 0 12px;
  }

  .main-nav .social a.tw {
    width: 18px;
  }
  .main-nav .social a.tw .ico {
    height: 16px;
    margin-top: -8px;
  }

  .main-nav .social a.ok {
    width: 12px;
  }
  .main-nav .social a.ok .ico {
    height: 19px;
    margin-top: -10px;
  }

  .main-nav .social a.vk {
    width: 23px;
  }
  .main-nav .social a.vk .ico {
    height: 14px;
    margin-top: -7px;
  }

  .main-nav .social a.fb {
    width: 11px;
  }
  .main-nav .social a.fb .ico {
    height: 18px;
    margin-top: -9px;
  }

  .main-nav-pxl {
    top: 60px;
  }

  /*иконки разделов*/
  .ico-page {
    margin-top: -7px;
    height: 14px;
  }
  .ico-page.news {
    width: 15px; height: 15px;
    margin-top: -7px;
    margin-left: 17px;
  }
  .ico-page.tv {
    width: 16px;
    margin-left: 17px;
  }
  .ico-page.radio {
    width: 11px;
    margin-left: 20px;
  }
  .ico-page.spec {
    width: 14px; 
    margin-left: 18px;
  }
  .ico-page.feedback {
    width: 14px; height: 14px;
    margin-top: -6px;
    margin-left: 18px;
  }

  /* ==================
    КОНТЕНТ РАЗДЕЛОВ
  ================== */
  .pages {
    top: 60px;
  }
  .pages .top {
    height: 40px;
  }
  .pages .top .h1 {
    line-height: 40px;
    padding-left: 50px;
  }
  .pages .top .back {
    width: 50px;
  }
  .pages .top .back .ico {
    margin-top: -6px;
    width: 8px; height: 13px;
  }

  /*НОВОСТИ*/
  .news-list {
    top: 40px;
  }
  .news-list .news .photo {
    height: 160px;
    margin-bottom: 13px;
  }
  .news-list .news .photo .status {
    height: 22px;
    line-height: 22px;
  }


  .news-list .spec-project p.title {
    padding-left: 17px;
  }
  .news-list .spec-project p.title .ico {
    width: 13px; height: 13px;
    margin-top: -6px;
  }

  /*НОВОСТИ ВНУТРЕННЯЯ*/
  .news-inner {
    top: 40px;
  }
  .news-inner .photo {
    height: 210px;
  }

  .news-inner .info .view .ico {
    margin-top: -7px;
    width: 20px; height: 14px;
  }

  /*ТВ*/
  .tv-channels {
    top: 40px; 
  }
  .tv-channels .channel {
    min-height: 120px;
  }
  .tv-channels .channel .logo {
    margin-top: -28px;
    width: 170px; height: 56px;
  }
  .tv-channels .channel .button {
    margin-top: -40px;
    width: 81px; height: 81px;
  }
  .tv-channels .channel .button > i {
    margin: -19px 0 0 -16px;
    width: 33px; height: 38px;
  }

  /*РАДИО*/
  .radio-list {
    top: 40px;
  }
  .radio-list .radio {
    min-height: 120px;
  }
  .radio-list .radio.r1 .logo {
    margin-top: -22px;
    width: 152px; height: 45px;
  }
  .radio-list .radio.r2 .logo {
    margin-top: -16px;
    width: 189px; height: 32px;
  }
  .radio-list .radio.r3 .logo {
    margin-top: -26px;
    width: 168px; height: 52px;
  }
  .radio-list .radio .button {
    margin-top: -40px;
    width: 81px; height: 81px;
  }
  .radio-list .radio .button > i {
    margin: -19px 0 0 -16px;
    width: 33px; height: 38px;
  }
  .radio-list .radio.play .button > i {
    width: 29px; height: 38px;
    margin-left: -15px;
  }

  /*ОБРАЩЕНИЯ ГРАЖДАН*/
  .feedback-list {
    top: 40px; bottom: 75px;
  }
  .feedback-list .item .status {
    width: 110px; height: 30px;
    line-height: 30px;
  }

  .feedback-form-button {
    height: 74px;
  }
  .feedback-form-button .button {
    margin-top: -25px;
    height: 50px;
    line-height: 50px;
  }

  /*Обращение граждан ВНУТРЕННЯЯ*/
  .feedback-inner {
    top: 40px;
  }
  /*Обращение граждан форма заявки*/
  .feedback-form {
    top: 40px;
  }
  .feedback-form .field input.text {
    height: 45px;
    line-height: 45px;
  }
  .feedback-form .field textarea {
    height: 30px;
  }
  .feedback-form .submit {
    height: 50px;
    line-height: 50px;
  }

  /*стилизация селектов*/
  .jq-selectbox__select {
    height: 45px;
    line-height: 45px;
  }
  .jq-selectbox__trigger {
    height: 45px;
  }
  .jq-selectbox__trigger-arrow {
    width: 15px;
    height: 14px;
    margin-top: -7px;
  }
  .jq-selectbox__dropdown {
    top: 45px;
  }

  /*СПЕЦПРОЕКТ*/
  .spec-content {
    top: 40px;
  }

  

}


/* ==================
    КОНТЕНТ РАЗДЕЛОВ
  ================== */
.video-modal {
  display: block;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 100;
  background: #000;
}
.video-modal .table {
  position: relative;
  display: table;
  width: 100%; height: 100%;
  text-align: center;
  z-index: 1;
}
.video-modal .table .row {
  display: table-cell;
  width: 100%; height: 100%;
  vertical-align: middle;
}

.video-modal .close-tv-modal {
  display: block;
  position: absolute;
  right: 20px; top: 20px;
  width: 40px; height: 40px;
  background: url(../img/ico-close-white.svg) center center no-repeat;
  background-size: cover;
  z-index: 100;
}

.video-js .vjs-big-play-button {
  display: block;
  position: absolute;
  left: 50% !important; top: 50% !important;
  margin: -25px 0 0 -50px;
  width: 100px !important; height: 50px !important;
}
